<!-- Page Content -->
<div id="page-wrapper">
    <div class="content" data-pjax-container=""><script>
          $('.nav.nav-pills li.active').removeClass('active');
          $('.nav.nav-pills li[data-model="project"]').addClass('active');
        </script>
                <br>
                <!-- Projetos -->
                
                <!--Configurações-->
                
                
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->