<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
           <h2 class="page-header">  Requisitos </h2>
              <!-- NOTIFICACAO -->
              <% if notice %>
                 <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <%= notice %>
                 </div>
              <% end %>
              
              <%= render 'functional', requirement: @requirement %>
              <br>
              <%= render 'nofunctional', requirement: @requirement %>
              <br>
              <%= render 'additional', requirement: @requirement %>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->


