<h1>Editing Use Case Requirement</h1>

<%= render 'form', use_case_requirement: @use_case_requirement %>

<%= link_to 'Show', @use_case_requirement %> |
<%= link_to 'Back', use_case_requirements_path %>
