<!-- Page Content -->
<div id="page-wrapper">
     <div class="content" data-pjax-container=""><script>
          $('.nav.nav-pills li.active').removeClass('active');
          $('.nav.nav-pills li[data-model="project"]').addClass('active');
            </script>
            <div class="page-header">
              <h1 class="">Categorias</h1>
            </div>
            <!-- NOTIFICACAO -->
            <% if notice %>
               <div class="alert alert-success alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <%= notice %>
               </div>
            <% end %>
            
            <div class="panel panel-default">
              <div class="panel-heading"> 
                   <i class="fa fa-briefcase fa-fw"></i> 
                   Categorias
                   <%= link_to new_category_path, class: "btn default btn-xs green pull-right" do %>
                          <i class="fa fa-plus fa-fw"></i>  
                          Adicionar
                   <% end %> 
                             
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="table-responsive table-bordered">
                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @categories.each do |category| %>
                          <tr>
                            <td><%= category.name %></td>
                            <td><%= link_to edit_category_path(category), class: "btn default btn-xs purple" do %>
                                    <i class="fa fa-edit fa-fw"></i>  
                                    Editar
                                 <% end %> 
                             
                                 <button type="submit" class="btn default btn-xs black"><i class="fa  fa-times fa-fw"></i> Excluir</button>
                             </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->



